.startSettingsContainer {
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.9);
}

.startSettingsContainer :nth-child(1) {
    position: relative;
    top: 0px;
    font-weight: 700;
}

.sliderContainer {
    position: relative;
}

.sliderTrack {
    display: block;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15%;
}

.sliderTrack:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 1);
}

.sliderTrack:hover>.sliderThumb {
    background-color: rgb(255, 255, 255);
}

.sliderThumb {
    position: relative;
    background-color: rgb(235, 233, 233);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
}

.startSettingsContainer :nth-child(3) {
    position: relative;
}

@media all and (min-width: 1800px) {
    .startSettingsContainer {
        width: 650px;
        height: 350px;
    }
    .startSettingsContainer :nth-child(1) {
        left: 30px;
        font-size: 25px;
        width: 650px;
        height: 40px;
    }
    .sliderContainer {
        width: 630px;
        height: 40px;
        left: 10px;
    }
    .sliderTrack {
        width: 630px !important;
        height: 4px !important;
        top: 18px !important;
        left: 0px !important;
    }
    .sliderThumb {
        width: 20px !important;
        height: 20px !important;
        left: 30% !important;
        top: -8px !important;
    }
    .startSettingsContainer :nth-child(3) {
        top: 10px;
        left: 50px;
        width: 200px;
        height: 30px;
    }
}

@media all and (max-width: 1799px) and (orientation: landscape) {
    .startSettingsContainer {
        width: 400px;
        height: 250px;
    }
    .startSettingsContainer :nth-child(1) {
        left: 15px;
        font-size: 20px;
        width: 400px;
        height: 30px;
    }
    .sliderContainer {
        width: 400px;
        height: 30px;
        left: 0px;
        top: 0px;
    }
    .sliderTrack {
        width: 400px !important;
        height: 3px !important;
        top: 13px !important;
        left: 0px !important;
    }
    .sliderThumb {
        width: 15px !important;
        height: 15px !important;
        left: 30% !important;
        top: -6px !important;
    }
    .startSettingsContainer :nth-child(3) {
        top: 10px;
        left: 40px;
        width: 200px;
        height: 30px;
    }
}

@media all and (max-width: 1799px) and (orientation: portrait) {
    .startSettingsContainer {
        width: 300px;
        height: 400px;
    }
    .startSettingsContainer :nth-child(1) {
        left: 10px;
        font-size: 15px;
        width: 300px;
        height: 30px;
    }
    .sliderContainer {
        width: 300px;
        height: 25px;
        left: 0px;
        top: 0px;
    }
    .sliderTrack {
        width: 300px !important;
        height: 2px !important;
        top: 11px !important;
        left: 0px !important;
    }
    .sliderThumb {
        width: 12px !important;
        height: 12px !important;
        left: 30% !important;
        top: -6px !important;
    }
    .startSettingsContainer :nth-child(3) {
        top: 10px;
        left: 20px;
        width: 200px;
        height: 30px;
    }
}